#logo{
	}

	body{
		background-color: #ebeff5;
	}


	#total-offers{
		background-color: #4cb4c7;
	}


	#offers-delivered{
		background-color: #7abecc;
	}

	#offers-pending{
		background-color: #7CD1C0;
	}