{% extends 'accounts/main.html' %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<br>
		<h5>My Lexify Requests</h5>
		<div class="card card-body">		
			<table class="table table-sm">
				<tr>
					<th>Lexify Request Title</th>
					<th>Date Created</th>
					<th>Time until Lexify Request Deadline</th>
					<th>Number of Offers Received</th>
					<th>Update Lexify Request</th>
					<th>Remove Lexify Request</th>
				</tr>

				{% for req in requests %}
					<tr>
						<td>{{req.title}}</td>
						<td>{{req.date_created}}</td>
						<td></td>
						<td></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'update_request' req.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_request' req.id %}">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
			<td><a class="btn btn-sm btn-info" href="{% url 'request_selection' %}">Create a new request</a></td>
		</div>
	</div>
	<div class="col-md-12">
		<br>
		<h5>My Lexify Contracts</h5>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Lexify Contract Title</th>
					<th>Date Created</th>
					<th>Lexify Service Provider Name</th>
					<th>Copy of the Lexify Contract</th>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endblock %}