{% extends 'accounts/main.html' %}

{% block content %}

<style>
	.timer{
	/*background-color: #dc3545;*/
	color: #dc3545;
	border-radius: 5px;
	padding: 5px;
	}

	table {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	th,td {
		display: table-cell;
		text-align: center;
	}
</style>


<div class="row">
	<div class="col-md-12">
		<br>
		<h5>My Lexify Requests</h5>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Lexify Request Title</th>
					<th>Date Created</th>
					<th>Time until Lexify Request Deadline</th>
					<th>Number of Offers Received</th>
					<th>Update Lexify Request</th>
					<th>Remove Lexify Request</th>
				</tr>

				{% for req in requests %}
					<tr>
						<td>{{req.title}}</td>
						<td>{{req.date_created}}</td>
						<td class="timer"><b>{{req.b2bDate|timeuntil}}</b></td>
						<td>0</td><!--{{contracts.count}}-->
						<td><a class="btn btn-sm btn-info" href="{% url 'update_request' req.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_request' req.id %}">Delete</a></td>
					</tr>
				{% endfor %}

				{% for e in emp %}
					<tr>
						<td>{{e.title}}</td>
						<td>{{e.date_created}}</td>
						<td class="timer"><b>{{e.b2bDate|timeuntil}}</b></td>
						<td>0</td><!--{{contracts.count}}-->
						<td><a class="btn btn-sm btn-info">Update</a></td>
						<td><a class="btn btn-sm btn-danger">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
			<td><a class="btn btn-sm btn-info" href="{% url 'request_selection' %}">Create a new request</a></td>
		</div>
	</div>
	<div class="col-md-12">
		<br>
		<h5>My Lexify Contracts</h5>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Lexify Contract Title</th>
					<th>Date Created</th>
					<th>Lexify Service Provider Name</th>
					<th>Copy of the Lexify Contract</th>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endblock %}