{%  extends 'accounts/main.html' %}

{% block content %}
<br>
<div class="list-group">
  <a href="{% url 'request_selection' %}" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Create Lexify Request</h5>
    </div>
    <p class="mb-1">Create a tender request to buy legal services</p>
  </a>
  <a href="{% url 'offers' %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Received Lexify Offers</h5>
    </div>
    <p class="mb-1">Check for your recieved Lexify offers</p>
  </a>
  <a href="{% url 'contracts' %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">My Lexify Requests & Lexify Contracts</h5>
    </div>
    <p class="mb-1">Check for your Lexify Requests and Contracts</p>
  </a>
  <a href="{% url 'user-page' %}" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">My Lexify Account</h5>
    </div>
    <p class="mb-1">Keep your account details up to date. Here you can also block specific individual Lexify Service Providers from making Lexify Offers to you.</p>
  </a>
  <a href="{% url 'feedback' %}" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Give Feedback to Lexify</h5>
    </div>
    <p class="mb-1">Please let us know what you like about Lexify and what we could do better.</p>
  </a>
  <a href="{% url 'logout' %}" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Log out</h5>
    </div>
  </a>
</div>
{% endblock content%}