{%  extends 'accounts/main.html' %}

{% block content %}
<br>
<div class="list-group">
  <h3 class="mb-1">What type of contract do you need help with?</h3>
  <a href="{% url 'realestate_purchase' %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Sale and Purchase</h5>
    </div>
  </a>
  <a href="{% url 'realestate_leaseback' %}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Sale and Leaseback</h5>
    </div>
  </a>
  <a href="{% url 'realestate_lease' %}" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Lease of business premises, residential premises or land</h5>
    </div>
  </a>
  <a href="{% url 'realestate_easement' %}" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Easement(s)</h5>
    </div>
  </a>
  <a href="{% url 'realestate_construction' %}" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Construction</h5>
    </div>
  </a>
</div>
{% endblock content%}