{%  extends 'accounts/main.html' %}

{% block content %}

<style type="text/css">
	.title{
		color:#10999f;
		-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: black;
	}

	.passChange:link, .passChange:visited {
  background-color: #eeefee;
  color: black;
  padding: 2px 7px;
  border: 1px solid black;
  border-radius: 2px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
	}

	.passChange:hover, .passChange:active {
	  background-color: lightgray;
	}
</style>

<h1 class="title">My Lexify Account</h1>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<form method="POST">
				{% csrf_token %}
				<h3>My Contact Information</h3>
				<p><strong>Company Information</strong></p>
				<p>Company name: <input type="text" name="companyName" placeholder="{{customer.company}}" size="30" disabled></p>
				<p>Company's Finnish Business ID: <input type="text" name="companyId" placeholder="{{customer.company_id}}" size="30" disabled></p>
				<p>Company Street Address: <input type="text" name="companyAddress" placeholder="{{customer.company_address}}" size="30"></p>
				<p><strong>Company Contact Person Information</strong></p>
				<p>First Name: <input type="text" name="firstName" placeholder="{{customer.firstname}}" size="30"></p>
				<p>Last Name: <input type="text" name="lastName" placeholder="{{customer.lastname}}" size="30" style="margin-left: 2px;"></p>
				<p>Telephone: <input type="tel" name="phoneNumber" placeholder="{{customer.phone}}" size="30"style="margin-left: 5px;"></p>
				<p>Email: <input type="email" name="eMail" placeholder="{{customer.email}}" size="30"></p>
				<p><strong>NOTE: </strong><i>The above contact information will automatically be used as your contact details for any Lexify Contract you may enter into with Lexify Service Providers.</i></p>
				<p>Username: {{customer.name}}</p>
				<a href="{% url 'password_change' %}" class="passChange">Change Password</a>
				<br>
				<br>
				<input type="submit" name="save" id="save" value="Save Contact Information">
			</form>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h3>Blocked Lexify Service Providers</h3>
			<p>Have you had a negative experience with a specific Lexify Service Provider? Don't worry - you can block that LSP from sending you any further Lexify Offers. Simply enter the name of the LSP in the below search field, click "Find LSP", highlight the relevant LSP and select "Block LSP". You will then receive no further offers from that LSP. You can also unblock any previously blocked LSP. Just type in the LSP's name, click "Find LSP", highlight the LSP and select "Unblock LSP".</p>
			<div>
				<input type="text" name="" placeholder="Find LSP by Name"><br><br>
				<input type="button" name="find" value="Find LSP">
				<input type="button" name="block" value="Block LSP">
				<input type="button" name="unblock" value="Unblock LSP">
				<br>
				<br>
				<p><strong>LIST OF CURRENTLY BLOCKED LEXIFY SERVICE PROVIDERS</strong></p>
				{% for cust in customerList %}
					{{cust.name}}
				{% endfor %}
				<p><i>None</i></p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}